@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Montserrat', sans-serif;
}

.capa {
    background-image: linear-gradient(to right, rgba(235, 30, 180, 0.6), rgba(150, 0, 255, 0.6)), url("public/capa.png");
}

.head {
    background-color: rgba(0, 0, 0, 0.5);
}

.grid img {
    @apply rounded;
    -webkit-box-shadow: 0 2px 24px -5px #000000;
    box-shadow: 0 2px 24px -5px #000000;
}

@keyframes moveRightToLeft {
  0% {
    transform: translateX(15%);
  }
  100% {
    transform: translateX(0);
  }
}

.animated-text {
  animation: moveRightToLeft 3s ease-out forwards;
}